@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@font-face {
    font-family: "anzo";
    src: url(./assets/file.woff2);
}

@font-face {
    font-family: "anzo1";
    src: url(./assets/file(1).woff2);
}

@font-face{
    font-family : "anzo2";
    src : url(./assets/file (2).woff2)
}

@font-face {
    font-family: "anzo3";
    src: url(./assets/download.woff2);
}

